h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
}
p{
    text-align: center;
    font-size: larger;
}
form{
    margin: 0 auto;
    width: 50%;
    height: 300px;
    border: 2px solid black;
    text-align: center;
    background-color: chocolate;
}
input{
    width: 50%;
    display: block;
    margin: 8px auto;
    box-shadow: 0 0 10px black;
    background-color: #f2f2f2;
}
::placeholder{
    text-transform: uppercase;
}
textarea{
    width: 50%;
    height: 150px;
    display: block;
    margin: 8px auto;
    box-shadow: 0 0 10px black;
    background-color: #f2f2f2;
}
button{
    background-color: black;
    color: white;
}